# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# MacOS files
.DS_Store

# Environment variables
.env

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Docker
*.pid
*.sock